.timeline-wrapper{
    width: 100%;
    height: 94vh;
    display: flex;
    flex-direction: column;
}

.time-labels-wrapper  {
    display: flex;
    gap:0px;
     overflow-x: auto;
     scrollbar-color: transparent transparent;
     user-select: none;
     background-color: #fff;
     padding-bottom: 10px;
}
.items-content-wrapper {
    display: flex;
    height: 100%;
    background-color: transparent;
    gap:0px;
    overflow-x: auto;
    scrollbar-color: transparent transparent;
    user-select: none;
}

.time-labels-wrapper::-webkit-scrollbar{}
.items-content-wrapper::-webkit-scrollbar{}

.hour-label{
    min-width: 300px;
}

.item{
    background-color: #512da8;
    background: linear-gradient(to right, #5c6bc0, #512da8);
    border-radius: 20px;
}

.resize-handle {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px;
    cursor: ew-resize;
    z-index: 10;
  }
  
  .resize-handle-left {
    left: 0;
  }
  
  .resize-handle-right {
    right: 0;
  }