.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  overflow-x: auto;
}

.list-item-holder {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 95vh;
  margin-right: 20px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  padding: 10px;
  overflow: hidden;
  position: relative;
}

.list-item-holder.drag-over {
  border: 2px dashed #512da8;
  background-color: rgba(81, 45, 168, 0.1);
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #ddd;
  transition: background-color 0.3s, color 0.3s;
}

.tab svg {
  margin-right: 5px;
}

.tab.video.active {
  background-color: #d32f2f;
  color: white;
}

.tab.image.active {
  background-color: #388e3c;
  color: white;
}

.tab.presentation.active {
  background-color: #f57c00;
  color: white;
}

.scrollable-list {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.scrollable-list::-webkit-scrollbar {
  width: 8px;
}

.scrollable-list::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scrollable-list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.scrollable-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.timeline-holder {
  flex: 1;
  overflow-x: auto;
  background-color: #fff;
  border-radius: 15px;
  padding: 10px;
}

.item-option-holder {
  width: 300px;
  background-color: #f0f0f0;
  padding: 10px;
  margin-left: 20px;
}

.list-item {
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 10px;
  padding-left: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.list-item.video {
  border: 1px solid #d32f2f;
}

.list-item.image {
  border: 1px solid #388e3c;
}

.list-item.presentation {
  border: 1px solid #f57c00;
}

.file-icon {
  font-size: 24px;
  margin-right: 10px;
}

.file-name {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.save-button {
  background-color: #512da8;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.upload-button {
  background-color: transparent;
  color: #512da8;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid #512da8;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.confirm-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.confirm-dialog button {
  margin: 5px;
}
