.container {
  display: flex;
  flex-direction: row; /* Располагаем элементы в строку */
  align-items: flex-start; /* Выравниваем по верхнему краю */
  padding: 20px; /* Добавим немного отступов */
  overflow-x: auto; /* Включаем горизонтальный скролл */
}

/* Стили для дочернего элемента .list-item-holder */
.list-item-holder {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 95vh;
  margin-right: 20px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  padding: 10px;
  overflow: hidden; /* Убираем горизонтальную прокрутку */
  position: relative;
}

.list-item-holder.drag-over {
  border: 2px dashed #512da8; /* Измените цвет и стиль границы */
  background-color: rgba(81, 45, 168, 0.1); /* Измените цвет фона */
}

.scrollable-list {
  flex: 1; /* Займёт доступное пространство */
  overflow-y: auto; /* Включаем вертикальную прокрутку */
  overflow-x: hidden;
}

/* Стили для скроллбара */
.scrollable-list::-webkit-scrollbar {
  width: 8px; /* Ширина скроллбара */
}

.scrollable-list::-webkit-scrollbar-track {
  background: #f1f1f1; /* Цвет трека */
  border-radius: 10px; /* Закругленные углы */
}

.scrollable-list::-webkit-scrollbar-thumb {
  background: #888; /* Цвет ползунка */
  border-radius: 10px; /* Закругленные углы */
}

.scrollable-list::-webkit-scrollbar-thumb:hover {
  background: #555; /* Цвет ползунка при наведении */
}

/* Стили для дочернего элемента .timeline-holder */
.timeline-holder {
  flex: 1; /* Займет все доступное пространство */
  overflow-x: auto; /* Включаем горизонтальный скролл */
  background-color: #fff;
  border-radius: 15px;
  padding: 10px;
}

/* Стили для дочернего элемента .item-option-holder */
.item-option-holder {
  width: 300px; /* Фиксированная ширина */
  background-color: #f0f0f0; /* Цвет фона для наглядности */
  padding: 10px; /* Добавим отступы внутри элемента */
  margin-left: 20px; /* Отступ слева между элементами */
}

.list-item {
  width: 95%;
  border: 1px solid #512da8; /* задаем цвет фона */
  border-radius: 8px; /* закругляем углы элемента списка */
  margin-bottom: 10px;
}

.save-button {
  background-color: #512da8;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.upload-button {
  background-color: transparent;
  color: #512da8;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid #512da8;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.confirm-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.confirm-dialog button {
  margin: 5px;
}