.App {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.scroll-container {
  display: flex;
  height: 200px;
}

.scroll-bar {
  overflow-x: auto;
  overflow-y: hidden;
  flex: 1;
  white-space: nowrap;
}

.hour,
.appointment {
  display: inline-block;
  padding: 5px;
  border: 1px solid #ccc;
  margin-right: 5px;
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
}

.appointment {
  background: lightblue;
}
